
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
@section head{
	<style>
		input[type=text], textarea {
			text-align: right;
			direction: rtl;
		}
	</style>
}

<div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(/Content/FrontEnd/images/banner/3.jpg);">
	<div class="overlay-main site-bg-secondry opacity-07"></div>
	<div class="container">
		<div class="wt-bnr-inr-entry">
			<div class="banner-title-outer">
				<div class="banner-title-name">
					<h2 class="site-text-primary">مقالات</h2>
				</div>
			</div>
			<!-- BREADCRUMB ROW -->

			<div>
				<ul class="wt-breadcrumb breadcrumb-style-2">
					<li><a href="javascript:void(0);">خانه</a></li>
					<li>مقالات</li>
				</ul>
			</div>

			<!-- BREADCRUMB ROW END -->
		</div>
	</div>
</div>
<div class="section-full  p-t80 p-b80 bg-orange-light">
<div class="section-content">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<!--Block one-->
				<div class="blog-post date-style-2">
					<div class="wt-post-media wt-img-effect zoom-slow">
						<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum1.jpg" alt=""></a>
					</div>
					<div class="wt-post-info bg-white p-a20 p-b0 text-center">
						<div class="wt-post-meta ">
							<ul>
								<li class="post-date"><span> تیر 1400</span> </li>
							</ul>
						</div>
						<div class="wt-post-title ">
							<h3 class="post-title"><a href="javascript:;" class="site-text-primary">پروتئین تراپی چیست</a></h3>
						</div>
						<div class="wt-post-readmore ">
							<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-12">
				<!--Block two-->
				<div class="blog-post date-style-2">
					<div class="wt-post-media wt-img-effect zoom-slow">
						<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum2.jpg" alt=""></a>
					</div>
					<div class="wt-post-info bg-white p-a20 p-b0 text-center">
						<div class="wt-post-meta ">
							<ul>
								<li class="post-date"><span> تیر 1400</span> </li>
							</ul>
						</div>
						<div class="wt-post-title ">
							<h3 class="post-title"><a href="javascript:;" class="site-text-primary">موهای همیشه سالم داشته باشید</a></h3>
						</div>
						<div class="wt-post-readmore ">
							<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-12">
				<!--Block three-->
				<div class="blog-post date-style-2">
					<div class="wt-post-media wt-img-effect zoom-slow">
						<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum3.jpg" alt=""></a>
					</div>
					<div class="wt-post-info bg-white p-a20 p-b0 text-center">
						<div class="wt-post-meta ">
							<ul>
								<li class="post-date"><span> تیر 1400</span> </li>
							</ul>
						</div>
						<div class="wt-post-title ">
							<h3 class="post-title"><a href="javascript:;" class="site-text-primary">راه های داشتن موی سالم</a></h3>
						</div>
						<div class="wt-post-readmore ">
							<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>