
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="" />

	<!-- FAVICONS ICON -->
	<link rel="icon" href="/Content/FrontEnd/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/FrontEnd/images/favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>لیمانو</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- BOOTSTRAP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/bootstrap.min.css">
	<!-- FONTAWESOME STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/fontawesome/css/font-awesome.min.css" />

	<!-- OWL CAROUSEL STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/owl.carousel.min.css">
	<!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/bootstrap-select.min.css">
	<!-- MAGNIFIC POPUP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/magnific-popup.min.css">
	<!-- LOADER STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/loader.min.css">
	<!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/style.css">
	<!-- FLATICON STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/flaticon.min.css">

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/plugins/revolution/revolution/css/settings.css">
	<!-- REVOLUTION NAVIGATION STYLE -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/plugins/revolution/revolution/css/navigation.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>

	<div class="page-wraper">

		<!-- HEADER START -->
		<header class="site-header header-style-1 mobile-sider-drawer-menu">

			<div class="sticky-header main-bar-wraper  navbar-expand-lg">
				<div class="main-bar">
					<div class="container">
						<div class="logo-header">
							<div class="logo-header-inner logo-header-one">
								<a href="index.html">
									<img src="/Content/FrontEnd/images/logo-dark.png" alt="" />
								</a>
							</div>
						</div>
						<!-- NAV Toggle Button -->

						<button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar icon-bar-first"></span>
							<span class="icon-bar icon-bar-two"></span>
							<span class="icon-bar icon-bar-three"></span>
						</button>


						<div class="extra-nav header-2-nav">
							<div class="extra-cell">
								<a href="javascript:;" class="Call-btn site-text-primary">021-88338383</a>
							</div>
						</div>
						<!-- MAIN Vav -->
						<div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">

							<ul class=" nav navbar-nav">
								<li><a href="javascript:;">صفحه اصلی</a></li>
								<li>
									<a href="javascript:;">خدمات</a>
									<ul class="sub-menu">
										<li><a href="services-1.html">کراتین</a></li>
										<li><a href="services-2.html">بوتاکس</a></li>
										<li><a href="services-detail.html">پروتئینه</a></li>
									</ul>
								</li>
								<li><a href="javascript:;">نمونه‌کار</a></li>
								<li><a href="javascript:;">وبلاگ</a></li>
								<li><a href="javascript:;">آموزشگاه</a></li>
								<li><a href="about-1.html">درباره ما</a></li>
								<li><a href="contact-1.html">تماس با ما</a></li>
							</ul>

						</div>

					</div>
				</div>
			</div>

		</header>
		<!-- HEADER END -->
		<!-- CONTENT START -->
		<div class="page-content">
			<!-- SLIDER START -->
			<div class="slider-outer">

				<div id="rev_slider_1050_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="webproduct-light" data-source="gallery" style="background-color:transparent;padding:0px;">
					<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
					<div id="rev_slider_1050_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
						<ul>
							<!-- SLIDE 1 -->
							<li data-index="rs-2938" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/Content/FrontEnd/images/main-slider/slider2/slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="/Content/FrontEnd/images/main-slider/slider2/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 Girl Img -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2938-layer-1"
										 data-x="['right','right','center','center']" data-hoffset="['-254','-200','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-5','-80','-5','-20']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 5;text-transform:left;border-width:0px;"><img src="/Content/FrontEnd/images/main-slider/slider2/girl-1.png" alt="" data-ww="['951px','951px','600px','350px']" data-hh="['653px','653px','412px','240px']" width="951" height="653" data-no-retina> </div>


								<!-- LAYER NR. 2 White Circle -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2938-layer-2"
										 data-x="['right','right','center','center']" data-hoffset="['-254','-254','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-300','-200','-100']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 4;text-transform:left;border-width:0px;">
									<img src="/Content/FrontEnd/images/main-slider/slider2/circle.png" alt="" class="spin-circle" data-ww="['1003px','1003px','700px','350px']" data-hh="['1051px','1051px','733px','367px']" width="1003" height="1051" data-no-retina>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption WebProduct-Title   tp-resizeme"
										 id="slide-2938-layer-7"
										 data-x="['center','center','center','center']" data-hoffset="['-50','-50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['-200','-200','137','130']"
										 data-fontsize="['48','48','48','34']"
										 data-lineheight="['56','56','56','50']"
										 data-width="['700','700','100%','100%']"
										 data-height="['none','none','none','none']"
										 data-whitespace="nowrap"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 11; font-family: 'Caveat', cursive;"><span class="bg-white p-lr30">آموزش</span></div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption WebProduct-SubTitle   tp-resizeme"
										 id="slide-2938-layer-10"
										 data-x="['left','left','center','center']" data-hoffset="['-150','-150','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['0','0','220','220']"
										 data-fontsize="['90','70','70','38']"
										 data-lineheight="['90','70','70','38']"
										 data-width="['700','700','700','300']"
										 data-height="['none','none','none','none']"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 12 ; font-family: 'Yeseva One', cursive; color:#111; text-transform:uppercase; white-space:normal">بهترین <br>مرکز تخصصی کراتین</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption"
										 id="slide-2938-layer-8"
										 data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['200','200','456','356']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="button"
										 data-responsive_offset="on"
										 data-responsive="off"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 14;"><a href="javascript:;" class="site-button site-btn-effect">ثبت نام</a></div>
							</li>

							<!-- SLIDE 2 -->
							<li data-index="rs-2939" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="/Content/FrontEnd/images/main-slider/slider2/slide2.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="/Content/FrontEnd/images/main-slider/slider2/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 Girl Img -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2939-layer-1"
										 data-x="['left','left','center','center']" data-hoffset="['-160','-200','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-5','-80','-5','-20']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 5;text-transform:left;border-width:0px;"><img src="/Content/FrontEnd/images/main-slider/slider2/girl-2.png" alt="" data-ww="['951px','951px','600px','350px']" data-hh="['653px','653px','412px','240px']" width="951" height="653" data-no-retina> </div>


								<!-- LAYER NR. 2 White Circle -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2939-layer-2"
										 data-x="['left','left','center','center']" data-hoffset="['-254','-254','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-300','-200','-100']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 4;text-transform:left;border-width:0px;">
									<img src="/Content/FrontEnd/images/main-slider/slider2/circle.png" alt="" class="spin-circle" data-ww="['1003px','1003px','700px','350px']" data-hh="['1051px','1051px','733px','367px']" width="1003" height="1051" data-no-retina>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption WebProduct-Title   tp-resizeme"
										 id="slide-2939-layer-7"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['-200','-200','137','130']"
										 data-fontsize="['48','48','48','34']"
										 data-lineheight="['56','56','56','50']"
										 data-width="['700','700','100%','100%']"
										 data-height="['none','none','none','none']"
										 data-whitespace="nowrap"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 11; font-family: 'Caveat', cursive;"><span class="bg-white p-lr30">تخفیف روز</span></div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption WebProduct-SubTitle   tp-resizeme"
										 id="slide-2939-layer-10"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['0','0','220','220']"
										 data-fontsize="['90','70','70','38']"
										 data-lineheight="['90','70','70','38']"
										 data-width="['700','700','700','300']"
										 data-height="['none','none','none','none']"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 12 ; font-family: 'Yeseva One', cursive; color:#111; text-transform:uppercase; white-space:normal">با پروتئینه<br>احیاء موهای مرده</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption"
										 id="slide-2939-layer-8"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['200','200','456','356']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="button"
										 data-responsive_offset="on"
										 data-responsive="off"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 14;"><a href="javascript:;" class="site-button site-btn-effect">وقت بگیر</a></div>
							</li>

						</ul>

						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div>
				<!-- END REVOLUTION SLIDER -->


				<div class="slider-social-outer social-mobile-hide">
					<div class="slider-social-info">
						<ul class="list-unstyled text-black">
							<li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-vimeo"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- SLIDER END -->
			<!-- ABOUT SECTION START -->
			<div class="section-full welcome-section-outer">
				<div class="welcome-section-top shadow-lg bg-white p-tb80">
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-12">
								<div class="welcom-to-section">
									<!-- TITLE START-->
									<div class="right wt-small-separator-outer">
										<div class="wt-small-separator">
											<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
											<div>لیمانو</div>
											<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
										</div>
									</div>
									<h2>آموزش کامل، ارائه مدرک از برزیل</h2>
									<!-- TITLE END-->
									<p>مدرس ارشد بین المللی سطح A، ما با ارائه خدمات کراتینه، بوتاکس، پروتئینه در مرکز کراتین تخصصی مهسا نوبخت در خدمت شما عزیزان هستیم. </p>

									<div class="welcom-to-section-bottom d-flex justify-content-between">
										<div class="welcom-btn-position m-t20"><a href="javascript:;" class="site-button site-btn-effect">بیشتر بدانید</a></div>
										<img src="/Content/FrontEnd/images/sign.png" alt="">
									</div>
									<div class="hilite-large-title">
										<span>خوش آمدید</span>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-md-12">
								<div class="img-colarge">
									<div class="colarge-1"><img src="/Content/FrontEnd/images/colarge/s1.jpg" alt=""></div>
									<div class="colarge-2"><img src="/Content/FrontEnd/images/colarge/s2.jpg" alt=""></div>
									<div class="colarge-3 slide-right"><img src="/Content/FrontEnd/images/colarge/s3.jpg" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ABOUT SECTION  SECTION END -->
			<!-- GALLERY SECTION START -->
			<div class="section-full p-t80 p-b50 bg-orange-light">
				<div class="container">

					<!-- TITLE START-->
					<div class="center wt-small-separator-outer section-head">
						<div class="wt-small-separator">
							<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
							<div>نمونه کار</div>
							<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
						</div>
						<h2 data-title="Gallery">گالری ما</h2>
					</div>
					<!-- TITLE END-->
					<!-- PAGINATION START -->
					<div class="filter-wrap work-grid p-b30 text-center">
						<ul class="masonry-filter link-style ">
							<li class="active"><a data-filter="*" href="#">همه</a></li>
							<li><a data-filter=".cat-1" href="#">کراتین</a></li>
							<li><a data-filter=".cat-2" href="#">پروتئین تراپی</a></li>
							<li><a data-filter=".cat-3" href="#">رنگ و لایت</a></li>
							<li><a data-filter=".cat-4" href="#">اورونوتراپی</a></li>
							<li><a data-filter=".cat-5" href="#">بوتاکس</a></li>
						</ul>
					</div>
					<!-- PAGINATION END -->
					<!-- GALLERY CONTENT START -->
					<div class="masonry-wrap mfp-gallery  row clearfix">
						<!-- COLUMNS 1 -->
						<div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">

							<div class="project-img-effect-1">
								<img src="/Content/FrontEnd/images/gallery/thumb/pic1.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte m-b10 m-t0">کراتین</h3>
								</div>
								<i></i>
								<a href="/Content/FrontEnd/images/gallery/thumb/pic1.jpg" class="mfp-link"></a>
							</div>

						</div>
						<!-- COLUMNS 2 -->
						<div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/Content/FrontEnd/images/gallery/pic1.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte m-b10 m-t0">پروتئین تراپی</h3>
								</div>
								<i></i>
								<a href="/Content/FrontEnd/images/gallery/pic1.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 3 -->
						<div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/Content/FrontEnd/images/gallery/thumb/pic4.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">رنگ و لایت</h3>
									<p class="title-style-2">بالیاژ </p>
								</div>
								<i></i>
								<a href="/Content/FrontEnd/images/gallery/thumb/pic4.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 4 -->
						<div class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/Content/FrontEnd/images/gallery/thumb/pic3.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">اورونوتراپی</h3>
								</div>
								<i></i>
								<a href="/Content/FrontEnd/images/gallery/thumb/pic3.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 5 -->
						<div class="masonry-item cat-5 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/Content/FrontEnd/images/gallery/pic5.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">بوتاکس</h3>
								</div>
								<i></i>
								<a href="/Content/FrontEnd/images/gallery/pic5.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 6 -->
					</div>
					<!-- GALLERY CONTENT END -->
				</div>
			</div>
			<!-- GALLERY SECTION END -->
			<!-- DISCOUNT SECTION START -->
			<div class="section-full  p-tb80 bg-white discount-section-outer">

				<div class="container">
					<div class="discount-add shadow-lg">
						<div class="row no-gutters">
							<div class="col-xl-6 col-lg-7 col-md-12 bg-cover" style="background-image:url(/Content/FrontEnd/images/background/add-bg.png);">
								<div class="discount-add-info">
									<!-- TITLE START-->
									<div class="right wt-small-separator-outer">
										<div class="wt-small-separator">
											<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
											<div>مرکز تخصصی کراتین</div>
											<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
										</div>
									</div>
									<h2>اولین بار <span class="text-black"> 25%</span> تخفیف</h2>
									<!-- TITLE END-->
									<a href="javascript:;" class="site-button site-btn-effect">اطلاعات بیشتر</a>
								</div>
							</div>

							<div class="col-xl-6 col-lg-5 col-md-12 bg-cover discount-add-pic  bg-bottom-center" style="background-image:url(/Content/FrontEnd/images/add-pic.jpg)">

							</div>

						</div>

					</div>
				</div>

			</div>
			<!-- DISCOUNT WE LOVE SECTION START -->
			<!-- OUR TEAM START -->
			<div class="section-full p-t80 p-b50 bg-white">
				<div class="container">
					<div class="section-content">

						<!-- TITLE START-->
						<div class="center wt-small-separator-outer section-head">
							<div class="wt-small-separator">
								<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
								<div>حرفه‌ای ها</div>
								<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
							</div>
							<h2 data-title="Experts">تیم‌ما</h2>
						</div>

						<!-- TITLE END-->

						<div class="section-content">
							<div class="row justify-content-center">
								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">
										<div class="wt-media">
											<img src="/Content/FrontEnd/images/team/pic1.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>
											</div>
										</div>
										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail text-center">
												<h3 class="m-t0">مهسا نوخت</h3>
												<span class="title-style-2 team-position">مدیریت</span>
											</div>
										</div>

									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">
										<div class="wt-media">
											<img src="/Content/FrontEnd/images/team/pic2.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>
											</div>
										</div>
										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail  text-center">
												<h3 class="m-t0">مهسا نوبخت</h3>
												<span class="title-style-2 team-position">رنگ و مش</span>
											</div>
										</div>

									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">

										<div class="wt-media">
											<img src="/Content/FrontEnd/images/team/pic3.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>
											</div>
										</div>
										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail  text-center">
												<h3 class="m-t0">مهسا نوبخت</h3>
												<span class="title-style-2 team-position">پروتئین تراپی </span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- OUR TEAM SECTION END -->
			<!-- CALL US SECTION START -->
			<div class="section-full p-tb80 bg-cover bg-center makeover-section-outer bg-orange-light2" data-stellar-background-ratio="0.5">

				<div class="container">
					<div class="section-content">
						<div class="makeover-section p-tb80 text-right">
							<h2 class="m-b15 title-style-2 text-black text-center">لورم ایپسوم یا طرح‌نما</h2>
							<h1 class="m-b5 m-b0">لورم ایپسوم یا طرح‌نما </h1>
							<p class="m-t0 m-b5">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. </p>
							<a href="#" class="btn-left site-button site-btn-effect">بیشتر بدانید</a>
						</div>
					</div>

				</div>
			</div>

			<!-- CONTACT US SECTION END -->
			<!-- OUR BLOG START -->
			<div class="section-full  p-t80 p-b40 bg-white latest-blog-1">
				<div class="container">

					<!-- TITLE START-->
					<div class="center wt-small-separator-outer section-head">
						<div class="wt-small-separator">
							<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
							<div>مقالات</div>
							<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
						</div>
						<h2 data-title="Blog">اخرین مقالات</h2>
					</div>
					<!-- TITLE END-->
					<!-- BLOG SECTION START -->
					<div class="section-content">
						<div class="row d-flex justify-content-center">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<!--Block one-->
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum1.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>20 تیر 1400</span> </li>
												<li class="post-user"><a href="javascript:void(0);"> By <span class="site-text-primary"> Sophia Varner</span></a> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">پروتئین تراپی چیست</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-12">
								<!--Block two-->
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum2.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>25 تیر 1400</span> </li>
												<li class="post-user"><a href="javascript:void(0);"> By <span class="site-text-primary"> Sophia Varner</span></a> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">موهای همیشه سالم داشته باشید</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6 col-sm-12">
								<!--Block three-->
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/Content/FrontEnd/images/blog/default/thum3.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>31 تیر 1400</span> </li>
												<li class="post-user"><a href="javascript:void(0);"> By <span class="site-text-primary"> Sophia Varner</span></a> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">راه های داشتن موی سالم</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">بیشتر بخوانید</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- OUR BLOG END -->


		</div>
		<!-- CONTENT END -->
		<!-- FOOTER START -->
		<footer class="site-footer footer-large footer-light text-white">

			<!-- FOOTER BLOCKES START -->
			<div class="footer-top  dot2-left-top-img">
				<div class="container">
					<div class="row">

						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="widget widget_about">
								<div class="logo-footer clearfix p-b15">
									<a href="index.html"><img src="/Content/FrontEnd/images/logo-dark.png" alt=""></a>
								</div>
								<p>لورم ایپسوم</p>

								<div class="newsletter-input">
									<div class="input-group">
										<input id="email" type="text" class="form-control" name="email" placeholder="ایمیل خود را وارد کنید">
										<div class="input-group-append">
											<button type="submit" class="input-group-text nl-search-btn text-black site-bg-secondry">عضو شو</button>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="widget widget_services">
								<h4 class="widget-title">لینک مفید</h4>
								<ul>
									<li><a href="javascript:;">درباره</a><a href="javascript:;">نمونه کار</a></li>
									<li><a href="javascript:;">قیمت </a><a href="javascript:;">تماس با ما</a></li>
									<li><a href="javascript:;">گالری </a><a href="javascript:;">قوانین</a></li>
									<li><a href="javascript:;">تیم ما </a><a href="javascript:;">سوالات متداول</a></li>
									<li><a href="javascript:;">خدمات </a><a href="javascript:;">درباره</a></li>
								</ul>
							</div>

						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">تماس با ما</h4>
								<ul class="widget_address">
									<li><i class="fa fa-map-marker"></i>تهران، سعادت اباد</li>
									<li><i class="fa fa-envelope"></i>contact123@gmail.com</li>
									<li> <i class="fa fa-phone"></i>(654) 321-7654 </li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- FOOTER COPYRIGHT -->

			<div class="footer-bottom">
				<div class="container">
					<div class="wt-footer-bot-left d-flex justify-content-between">
						<span class="copyrights-text">تمام حقوق این سایت متعلق به لیمانو میباشد</span>
						<ul class="copyrights-nav">
							<li><a href="javascript:void(0);">حریم خصوصی</a></li>
							<li><a href="contact-1.html">تماس با ما</a></li>
						</ul>
					</div>
				</div>
			</div>


		</footer>
		<!-- FOOTER END -->
		<!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>



	</div>

	<!-- LOADING AREA START ===== -->
	<div class="loading-area">
		<div class="loading-box"></div>
		<div class="loading-pic">
			<div class="cssload-loader">
				<div class="cssload-dots">
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- LOADING AREA  END ====== -->
	<!-- JAVASCRIPT  FILES ========================================= -->
	<script src="/Content/FrontEnd/js/jquery-2.2.0.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="/Content/FrontEnd/js/popper.min.js"></script><!-- POPPER.MIN JS -->
	<script src="/Content/FrontEnd/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="/Content/FrontEnd/js/bootstrap-select.min.js"></script><!-- Form js -->
	<script src="/Content/FrontEnd/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
	<script src="/Content/FrontEnd/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
	<script src="/Content/FrontEnd/js/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="/Content/FrontEnd/js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
	<script src="/Content/FrontEnd/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
	<script src="/Content/FrontEnd/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
	<script src="/Content/FrontEnd/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
	<script src="/Content/FrontEnd/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
	<script src="/Content/FrontEnd/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<!-- REVOLUTION JS FILES -->

	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

	<!-- REVOLUTION SLIDER SCRIPT FILES -->
	<script src="/Content/FrontEnd/js/rev-script-1.js"></script>

</body>
</html>
