
@{
	ViewBag.Title = "Service";
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
@section head{
	<style>
		input[type=text],textarea {
			text-align: right;
			direction: rtl;
		}
	</style>
}
	<div class="page-content">

		<!-- INNER PAGE BANNER -->
		<div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(/content/frontend/images/banner/2.jpg);">
			<div class="overlay-main site-bg-secondry opacity-07"></div>
			<div class="container">
				<div class="wt-bnr-inr-entry">
					<div class="banner-title-outer">
						<div class="banner-title-name">
							<h2 class="site-text-primary">کراتینه مو</h2>
						</div>
					</div>
					<!-- BREADCRUMB ROW -->

					<div>
						<ul class="wt-breadcrumb breadcrumb-style-2">
							<li><a href="javascript:void(0);">خانه</a></li>
							<li>کراتینه مو</li>
						</ul>
					</div>

					<!-- BREADCRUMB ROW END -->
				</div>
			</div>
		</div>
		<!-- INNER PAGE BANNER END -->
		<!-- ALL SERVICES START -->
		<div class="section-full p-t80 p-b50">
			<div class="container">
				<div class="section-content">

					<div class="row d-flex justify-content-center">

						<div class="col-lg-9 col-md-12 col-sm-12">
							<div class="service-detail-outer">
								<h2 class="m-t0">کراتینه مو</h2>
								<p>
									توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد.
									توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.

								</p>

								<p>
									توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد.
									توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.

								</p>

								<p>
									توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد. توضیحات در این قسمت قرار می گیرد.
									توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.توضیحات در این قسمت قرار می گیرد.

								</p>

								<div class="service-pics">
									<div class="row justify-content-center">

										<div class="col-md-6 m-b30">
											<div class="wt-media">
												<img src="/content/frontend/images/gallery/pic1.jpg" alt="">
											</div>
										</div>

										<div class="col-md-6 m-b30">
											<div class="wt-media">
												<img src="/content/frontend/images/gallery/pic2.jpg" alt="">
											</div>
										</div>

										<div class="col-md-6 m-b30">
											<div class="wt-media">
												<img src="/content/frontend/images/gallery/pic3.jpg" alt="">
											</div>
										</div>

										<div class="col-md-6 m-b30">
											<div class="wt-media">
												<img src="/content/frontend/images/gallery/pic4.jpg" alt="">
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="section-full p-t80 p-b50 bg-orange-light">
			<div class="container">
				<div class="section-content">


					<div class="section-content">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12">
								<div class="home-contact-section m-b30">
									<form class="cons-contact-form" method="post" action="form-handler2.php">

										<!-- TITLE START-->
										@*<div class="left wt-small-separator-outer">
											<div class="wt-small-separator">
												<div class="sep-leaf-left"><img src="/content/frontend/images/sep-leaf-left.png" alt=""></div>
												<div>مشاوره</div>
												<div class="sep-leaf-right"><img src="/content/frontend/images/sep-leaf-right.png" alt=""></div>
											</div>
										</div>*@
										<h2>برای دریافت نوبت فرم زیر را تکمیل کنید</h2>
										<!-- TITLE END-->

										<div class="row m-b30">
											<div class="col-md-6 col-sm-6">
												<div class="form-group">
													<input name="username" type="text" required class="form-control" placeholder="نام">
												</div>
											</div>

								

											<div class="col-md-6 col-sm-6">
												<div class="form-group">
													<input name="phone" type="text" class="form-control" required placeholder="تلفن تماس">
												</div>
											</div>

									

											<div class="col-md-12">
												<div class="form-group">
													<textarea name="message" class="form-control" rows="4" placeholder="خدمات مورد نیاز"></textarea>
												</div>
											</div>

											<div class="col-md-12">
												<button type="submit" class="site-button site-btn-effect">ثبت</button>
											</div>

										</div>
									</form>
								</div>
							</div>

							<div class="col-lg-6 col-md-12 col-sm-12">
								<div class="contact-right-section">
									<div class="wt-media">
										<img src="/content/frontend/images/contact-img.jpg" alt="">
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

