@using BaseSiteEshop.Helpers
@model CompanyBaseSite.ViewModels._BaseViewModel

<header class="site-header header-style-2-light mobile-sider-drawer-menu header-transparent">
	<div class="sticky-header main-bar-wraper  navbar-expand-lg">
		<div class="main-bar">
			<div class="container">
				<div class="logo-header">
					<div class="logo-header-inner logo-header-one">
						<a href="/">
							<img src="/Content/FrontEnd/images/logo-dark.png" alt="لیمانو" />
						</a>
					</div>
				</div>
				<!-- NAV Toggle Button -->

				<button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar icon-bar-first"></span>
					<span class="icon-bar icon-bar-two"></span>
					<span class="icon-bar icon-bar-three"></span>
				</button>
				<div class="extra-nav header-2-nav">
					<div class="extra-cell">
						<a href="tel:@Html.SiteContentSummery("phone")" class="Call-btn site-text-primary">@Html.SiteContentSummery("phone")</a>
					</div>
				</div>
				<!-- MAIN Vav -->
				<div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">

					<ul class=" nav navbar-nav">
						<li><a href="/">صفحه اصلی</a></li>
						<li>
							<a href="javascript:;">خدمات</a>
							<ul class="sub-menu">
								@foreach (var service in Model.MenuServices)
								{
									<li><a href="/service/@service.UrlParam">@service.Title</a></li>
								}
							</ul>
						</li>
						<li><a href="/blog">مقالات</a></li>
						<li><a href="/about">درباره ما</a></li>
						<li><a href="/contact">تماس با ما</a></li>
					</ul>

				</div>

			</div>
		</div>
	</div>

</header>